{{- if .Values.virtualization.internal.ready }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  labels:
    heritage: deckhouse
    module: virtualization
    rbac.deckhouse.io/aggregate-to-role: superadmin
    rbac.deckhouse.io/kind: use
  name: d8:use:virtualization:superadmin
aggregationRule:
  clusterRoleSelectors:
    - matchLabels:
        rbac.deckhouse.io/kind: use
        rbac.deckhouse.io/aggregate-to-virtualization-as: superadmin
rules: []
{{- end }}
