{{- if .Values.virtualization.internal.ready }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: d8:use:role:viewer:virtualization
  labels:
    heritage: deckhouse
    module: virtualization
    rbac.deckhouse.io/kind: use
    rbac.deckhouse.io/aggregate-to-virtualization-as: user
    rbac.deckhouse.io/aggregate-to-all-as: viewer
aggregationRule:
  clusterRoleSelectors:
    - matchLabels:
        rbac.deckhouse.io/kind: use
        rbac.deckhouse.io/aggregate-to-virtualization-as: viewer
rules: []
{{- end }}
