{{/*
Add .ModulePath }}modules/999-{{ .ModuleName }} if set .ModulePath 

Usage "GitPath":

git:
- add: {{ include "GitPath" }}/{{ $.ImageName }}
- add: {{ include "GitPath" }}/src
*/}}

{{ define "GitPath" }}
{{-   if .ModulePath -}}
/{{      .ModulePath }}modules/999-{{ .ModuleName }}
{{-   end -}}
{{ end }}

{{/*
Helpers for generate images name with or without ModuleName
.ImageName - folder name
"suffix" - optional, if set, then image name will be .ImageName-suffix

Usage "ImageName":
.ImageName := "cdi-artifact"

{{ include "ImageName" (tuple . .ImageName) }}
With set .ModuleName: virtualization/cdi-artifact
Without .ModuleName: cdi-artifact

{{ include "ImageName" (tuple . .ImageName "src") }}
With set .ModuleName: virtualization/cdi-artifact-src
Without .ModuleName: cdi-artifact-src

{{ include "ImageName" (tuple . "dvcr-artifact") }}
With set .ModuleName: virtualization/dvcr-artifact
Without .ModuleName: cdi-artifact

{{ include "ImageName" (tuple . "dvcr-artifact" "cbuilder") }}
With set .ModuleName: virtualization/dvcr-artifact-cbuilder
Without .ModuleName: dvcr-artifact-cbuilder
*/}}

{{ define "ImageName" }}

{{-  $ctx := . -}}
{{-  $ImageName := "" -}}
{{-  $ImageNameSuffix := "" -}}

{{-    if (kindIs "slice" .) -}}
{{-      $ctx = index . 0 -}}
{{-      if ge (len .) 2 -}}
{{-        $ImageName = index . 1 -}}
{{-      end -}}
{{-      if ge (len .) 3 -}}
{{-        $ImageNameSuffix = index . 2 -}}
{{-      end -}}
{{-    else -}}
{{- fail "Should be slice of 2 or 3 elem" }}
{{-    end -}}

{{-  include "ModuleNamePreffix" $ctx -}}
{{-  $ImageName -}}
{{-  if $ImageNameSuffix }}-{{ $ImageNameSuffix }}{{ end -}}

{{ end }}

{{ define "ModuleNamePreffix" }}
{{- if .ModuleName }}{{ .ModuleName }}/{{ end -}}
{{ end }}
