{{/*
{{ define "images_digest_image" }}
{{- $context := . -}}

---
image: images-digests
fromImage: builder/alpine
dependencies:
  {{- range $imageDigest := $context.ImagesDigestList }}
  {{- $ImageNameCamel := $imageDigest | splitList "/" | last  | camelcase | untitle }}
- image: {{ $imageDigest }}
  before: setup
  imports:
    - type: ImageDigest
      targetEnv: MODULE_IMAGE_DIGEST_{{ $ImageNameCamel }}
  {{- end }}
shell:
  beforeInstall:
    - apk add --no-cache jq
  setup:
    - |
      env | grep MODULE_IMAGE_DIGEST | jq -Rn '
        reduce inputs as $i (
          {};
          . * (
            $i | ltrimstr("MODULE_IMAGE_DIGEST_") | sub("=";"_") |
            split("_") as [$imageName, $digest] |
            {($imageName): $digest}
          )
        )
      ' > /images_digests.json
      cat images_digests.json
{{ end }}
*/}}
