{{/*
Template for ease of use of multiple image imports
Default stage "install".
Important! To render properly in "embedded module" mode, ensure that caller passes context with "ModuleNamePrefix" variable.

Usage:
{{- $images := list "swtpm" "numactl" "libfuse3" -}}
{{- include "importPackageImages" (list . $images "install") -}}  # install stage (default)
Result:
...
 - image: packages/binaries/libfuse3
   add: /libfuse3
   to: /libfuse3
   before: install
...

{{- include "importPackageImages" (list . $images "setup") -}}    # setup stage
Result:
...
 - image: packages/binaries/libfuse3
   add: /libfuse3
   to: /libfuse3
   before: setup
...
*/}}

{{ define "importPackageImages" }}
{{-   if not (eq (kindOf .) "slice") }}
{{-      fail "importPackageImages: invalid type of argument, slice is expected" }}
{{-   end }}
{{-   $context := index . 0 }}
{{-   $ImageNameList := index . 1 }}
{{-   $stage := "install" }}
{{-   if gt (len .) 2 }}
{{-     $stage = index . 2 }}
{{-   end }}
{{-   range $imageName := $ImageNameList }}
{{-     $packages := splitList " " $imageName -}}
{{-     range $packages -}}
{{-       $image := trim . -}}
{{-       if ne $image "" }}
- image: {{ $context.ModuleNamePrefix }}packages/{{ $image }}
  add: /{{ $image }}
  to: /{{ $image }}
  before: {{ $stage }}
{{-       end }}
{{-     end -}}
{{-   end }}
{{ end }}

{{ define "baseImages" }}
{{-   if not (eq (kindOf .) "slice") }}
{{-      fail "importPackageImages: invalid type of argument, slice is expected" }}
{{-   end }}
{{-   $context := index . 0 }}
{{-   $imageNames := index . 1 }}
{{-   $stage := "install" }}
{{-   $toSuffix := "" }}
{{-   if gt (len .) 2 }}
{{-     $stage = index . 2 }}
{{-   end }}
{{-   if gt (len .) 3 }}
{{-     $toSuffix = index . 3 }}
{{-   end }}
{{-   range $imageName := $imageNames }}
{{-     if ne $imageName "" }}
- image: dev-{{ index $context.Images $imageName }}
  add: /out
  to: /{{ last (splitList "/" $imageName) }}{{ $toSuffix }}
  before: {{ $stage }}
{{-     end -}}
{{-   end }}
{{ end }}
