{{- define "imagename" }}

{{-   if not $.ModuleName }}
{{-       if not $.ImageNameSuffix }}
image: {{ $.ImageName }}
{{-      else }}
image: {{ $.ImageName }}-{{ $.ImageNameSuffix }}
{{-       end }}
{{-   else }}
{{-      if not $.ImageNameSuffix }}
image: {{ $.ModuleName }}/{{ $.ImageName }}
{{-      else }}
image: {{ $.ModuleName }}/{{ $.ImageName }}-{{ $.ImageNameSuffix }}
{{-      end }}
{{-   end }}

{{- end }}
