{{/* Helpers for generate images name with or without ModuleName

Usage:
 Without ModuleName, but with suffix imane name:{{ include "ImageName" (list . "bins") }} cdi-artifact-bins
Without ModuleName: {{ include "ImageName" (list . ) }} - cdi-artifact
With ModuleName: {{ include "ImageName" (list . "bins") }} - virtualization/cdi-artifact-bins
*/}}

{{ define "ImageName" }}

{{-  $ctx := . -}}
{{-  $ImageNameSuffix := "" -}}

{{-    if (kindIs "slice" .) -}}
{{-      $ctx = index . 0 -}}
{{-      if ge (len .) 2 -}}
{{-        $ImageNameSuffix = index . 1 -}}
{{-      end -}}
{{-    end -}}

{{-  include "ModuleNamePreffix" $ctx -}}
{{-  $ctx.ImageName -}}
{{-  if $ImageNameSuffix }}-{{ $ImageNameSuffix }}{{ end -}}

{{ end }}


{{ define "ModuleNamePreffix" }}
{{- if .ModuleName }}{{ .ModuleName }}/{{ end -}}
{{ end }}

{{/* ----- 
Usage:
With ModulePath
git:
- add: {{ include "GitPath" (list . "/images") }}/{{ $.ImageName }}
# /{{ $.ModulePath }}modules/999-{{ $.ModuleName }}/images/dvcr-artifact

Without ModulePath
git:
- add: {{ include "GitPath" (list . "/api") }}
# /api
------ */}}

{{ define "GitPath" }}

{{-   $ctx := . -}}
{{-   $SourceCodePath := "" -}}

{{-   if (kindIs "slice" .) -}}
{{-     $ctx = index . 0 -}}
{{-     if ge (len .) 2 -}}
{{-       $SourceCodePath = index . 1 -}}
{{-     end -}}
{{-   end -}}

{{-   include "GitModulePath" $ctx -}}
{{-   if $SourceCodePath }}/{{ $SourceCodePath }}{{ end -}}

{{ end }}

{{ define "GitModulePath" }}
{{-   if .ModulePath -}}
/{{      .ModulePath }}modules/999-{{ $.ModuleName }}/
{{-   end -}}
{{ end }}

{{/* ----- */}}
{{ define "FromImage" }}

{{-  $ctx := . -}}
{{-  $ImageNameSuffix := "" -}}

{{-    if (kindIs "slice" .) -}}
{{-      $ctx = index . 0 -}}
{{-      if ge (len .) 2 -}}
{{-        $ImageNameSuffix = index . 1 -}}
{{-      end -}}
{{-    end -}}

{{-  if $ctx.ModuleName }}{{ .ModuleName }}/{{ end -}}
{{-  if $ImageNameSuffix }}{{ $ImageNameSuffix }}{{ end -}}

{{ end }}
