{{- define "parse_base_images_map" }}
{{-   $deckhouseImages := .Files.Get "build/base-images/deckhouse_images.yml" | fromYaml }}
{{/*
  # deckhouse_images has a format
  # <prefix>/<name>: "sha256:abcde12345
*/}}
{{-   range $k, $v := $deckhouseImages }}
{{     $baseImagePath := (printf "%s@%s" $deckhouseImages.REGISTRY_PATH (trimSuffix "/" $v)) }}
{{-     if ne $k "REGISTRY_PATH" }}
{{-       $_ := set $deckhouseImages $k $baseImagePath }}
{{-     end }}
{{-   end }}
{{-   $_ := unset $deckhouseImages "REGISTRY_PATH" }}
{{-   $_ := set . "Images" (mustMerge $deckhouseImages) }}
{{/* # base images artifacts */}}
{{-   range $k, $v := .Images }}
---
image: {{ $k }}
from: {{ $v }}
final: false
{{-   end }}
{{- end }}
