{{- define "svace.build" }}
  {{- if eq $.SVACE_ENABLED "true" }}
#mkdir -p /svace-build/virtualization/{{ $.Commit.Hash }}/{{ $.ImageName }}
mkdir -p /svace-build/virtualization/svace/{{ $.ImageName }}

svace build --init {{ .BuildCommand }}
#mv .svace-dir /svace-build/virtualization/{{ $.Commit.Hash }}/{{ $.ImageName }}/.svace-dir
mv .svace-dir /svace-build/virtualization/svace/{{ $.ImageName }}/.svace-dir
rm -rf .svace-dir || exit 1
    {{- else }}
{{ .BuildCommand }}
    {{- end }}
{{- end }}
 