{{- define "svace.build" }}
  {{- if eq $.SVACE_ENABLED "true" }}
  {{- if .BinaryDir }}
mkdir -p /svace-build/virtualization/svace/{{ $.ImageName }}/{{ .BinaryDir }}
  {{- else }}
mkdir -p /svace-build/virtualization/svace/{{ $.ImageName }}
  {{- end }}

svace build --init {{ .BuildCommand }}
mv .svace-dir /svace-build/virtualization/svace/{{ $.ImageName }}/.svace-dir
rm -rf .svace-dir || exit 1
    {{- else }}
{{ .BuildCommand }}
    {{- end }}
{{- end }}
 