
{{ define "Versions" }}

{{-   $_ := set . "Version" dict -}}
{{-   $_ := set . "Package" dict -}}
{{-   $versions_path := "component_versions/version_map.yml" -}}

{{-   if .ModuleName -}}
{{-     $module_versions_ctx := (printf "%smodules/%s-%s/" .ModulePath .ModulePriority .ModuleName )  }}
{{-     $versions_path = (printf "%s%s" $module_versions_ctx $versions_path) -}}
{{-   end -}}

{{-   $versions_ctx := (.Files.Get $versions_path | fromYaml) -}}

{{-   range $k, $v := $versions_ctx.firmware -}}
{{-     $_ := set $.Version $k $v -}}
{{-   end -}}

{{-   range $k, $v := $versions_ctx.package -}}
{{-     $_ := set $.Package $k $v -}}
{{-    end -}}

{{ end }}
