{{/* common/src-artifact */}}

{{ define "image-src-artifact" }}
{{-  $ctx := . -}}
{{-  $fromImage := "" -}}

{{-  if $ctx.ModuleName -}}
{{-     $fromImage = "fromImage: common/src-artifact"}}
{{-  else -}}
{{-     $fromImage = "fromImage: src-artifact"}}
{{-  end -}}

image: {{ include "ImageName" (list . "src-artifact") }}
{{ $fromImage }}
final: false
secrets:
- id: SOURCE_REPO
  value: {{ $.SOURCE_REPO }}
shell:
  beforeInstall:
{{ end }}
