apiVersion: v1
kind: Secret
metadata:
  name: sysprep-config
data:
  unattend.xml: PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHVuYXR0ZW5kIHhtbG5zPSJ1cm46c2NoZW1hcy1taWNyb3NvZnQtY29tOnVuYXR0ZW5kIj4KICA8c2V0dGluZ3MgcGFzcz0ib29iZVN5c3RlbSI+CiAgICA8Y29tcG9uZW50IHhtbG5zOndjbT0iaHR0cDovL3NjaGVtYXMubWljcm9zb2Z0LmNvbS9XTUlDb25maWcvMjAwMi9TdGF0ZSIgeG1sbnM6eHNpPSJodHRwOi8vd3d3LnczLm9yZy8yMDAxL1hNTFNjaGVtYS1pbnN0YW5jZSIgbmFtZT0iTWljcm9zb2Z0LVdpbmRvd3MtU2hlbGwtU2V0dXAiIHByb2Nlc3NvckFyY2hpdGVjdHVyZT0iYW1kNjQiIHB1YmxpY0tleVRva2VuPSIzMWJmMzg1NmFkMzY0ZTM1IiBsYW5ndWFnZT0ibmV1dHJhbCIgdmVyc2lvblNjb3BlPSJub25TeFMiPgogICAgICA8T09CRT4KICAgICAgICA8SGlkZUVVTEFQYWdlPnRydWU8L0hpZGVFVUxBUGFnZT4KICAgICAgICA8SGlkZU9FTVJlZ2lzdHJhdGlvblNjcmVlbj50cnVlPC9IaWRlT0VNUmVnaXN0cmF0aW9uU2NyZWVuPgogICAgICAgIDxIaWRlT25saW5lQWNjb3VudFNjcmVlbnM+dHJ1ZTwvSGlkZU9ubGluZUFjY291bnRTY3JlZW5zPgogICAgICAgIDxIaWRlV2lyZWxlc3NTZXR1cEluT09CRT50cnVlPC9IaWRlV2lyZWxlc3NTZXR1cEluT09CRT4KICAgICAgICA8TmV0d29ya0xvY2F0aW9uPldvcms8L05ldHdvcmtMb2NhdGlvbj4KICAgICAgICA8U2tpcFVzZXJPT0JFPnRydWU8L1NraXBVc2VyT09CRT4KICAgICAgICA8U2tpcE1hY2hpbmVPT0JFPnRydWU8L1NraXBNYWNoaW5lT09CRT4KICAgICAgICA8UHJvdGVjdFlvdXJQQz4zPC9Qcm90ZWN0WW91clBDPgogICAgICA8L09PQkU+CiAgICAgIDxBdXRvTG9nb24+CiAgICAgICAgPFBhc3N3b3JkPgogICAgICAgIDxWYWx1ZT4xMjM0NTY8L1ZhbHVlPgogICAgICAgICAgPFBsYWluVGV4dD50cnVlPC9QbGFpblRleHQ+CiAgICAgICAgPC9QYXNzd29yZD4KICAgICAgICA8RW5hYmxlZD50cnVlPC9FbmFibGVkPgogICAgPFVzZXJuYW1lPkFkbWluaXN0cmF0b3I8L1VzZXJuYW1lPgo8L0F1dG9Mb2dvbj4KPFVzZXJBY2NvdW50cz4KICAgICA8QWRtaW5pc3RyYXRvclBhc3N3b3JkPgogICAgICAgICAgICA8VmFsdWU+MTIzNDU2PC9WYWx1ZT4KICAgICAgICAgICAgPFBsYWluVGV4dD50cnVlPC9QbGFpblRleHQ+CiAgICA8L0FkbWluaXN0cmF0b3JQYXNzd29yZD4KICAgICAgPC9Vc2VyQWNjb3VudHM+CiAgICAgIDxSZWdpc3RlcmVkT3JnYW5pemF0aW9uPkt1ZWJ2aXJ0PC9SZWdpc3RlcmVkT3JnYW5pemF0aW9uPgogICAgICA8UmVnaXN0ZXJlZE93bmVyPkt1YmV2aXJ0PC9SZWdpc3RlcmVkT3duZXI+CiAgICAgIDxUaW1lWm9uZT5FYXN0ZXJuIFN0YW5kYXJkIFRpbWU8L1RpbWVab25lPgogICAgICAgICAgICA8Rmlyc3RMb2dvbkNvbW1hbmRzPgogICAgICAgICAgICAgICAgPFN5bmNocm9ub3VzQ29tbWFuZCB3Y206YWN0aW9uPSJhZGQiPgogICAgICAgICAgICAgICAgPENvbW1hbmRMaW5lPnBvd2Vyc2hlbGwgLUV4ZWN1dGlvblBvbGljeSBCeXBhc3MgLU5vRXhpdCAtV2luZG93U3R5bGUgSGlkZGVuIC1Ob1Byb2ZpbGUgZjpcY3VzdG9taXplLnBzMTwvQ29tbWFuZExpbmU+CiAgICAgICAgICAgICAgICAgICAgPFJlcXVpcmVzVXNlcklucHV0PmZhbHNlPC9SZXF1aXJlc1VzZXJJbnB1dD4KICAgICAgICAgICAgICAgICAgICA8T3JkZXI+MTwvT3JkZXI+CiAgICAgICAgICAgIDxEZXNjcmlwdGlvbj5DdXN0b21pemUgU2NyaXB0PC9EZXNjcmlwdGlvbj4KICAgICAgICA8L1N5bmNocm9ub3VzQ29tbWFuZD4KICAgICAgICAgICAgPC9GaXJzdExvZ29uQ29tbWFuZHM+CiAgICA8L2NvbXBvbmVudD4KICA8L3NldHRpbmdzPgo8L3VuYXR0ZW5kPgo=
  customize.ps1: IyBFbmFibGUgUkRQClNldC1JdGVtUHJvcGVydHkgLVBhdGggJ0hLTE06XFN5c3RlbVxDdXJyZW50Q29udHJvbFNldFxDb250cm9sXFRlcm1pbmFsIFNlcnZlcicgLW5hbWUgImZEZW55VFNDb25uZWN0aW9ucyIgLXZhbHVlIDAKRW5hYmxlLU5ldEZpcmV3YWxsUnVsZSAtRGlzcGxheUdyb3VwICJSZW1vdGUgRGVza3RvcCIKCgojIGh0dHBzOi8vZG9jcy5taWNyb3NvZnQuY29tL2VuLXVzL3dpbmRvd3Mtc2VydmVyL2FkbWluaXN0cmF0aW9uL29wZW5zc2gvb3BlbnNzaF9pbnN0YWxsX2ZpcnN0dXNlCiMgSW5zdGFsbCB0aGUgT3BlblNTSCBTZXJ2ZXIKQWRkLVdpbmRvd3NDYXBhYmlsaXR5IC1PbmxpbmUgLU5hbWUgT3BlblNTSC5TZXJ2ZXJ+fn5+MC4wLjEuMAojIFN0YXJ0IHRoZSBzc2hkIHNlcnZpY2UKU3RhcnQtU2VydmljZSBzc2hkCgpTZXQtU2VydmljZSAtTmFtZSBzc2hkIC1TdGFydHVwVHlwZSAnQXV0b21hdGljJwoKIyBodHRwczovL2RvY3MubWljcm9zb2Z0LmNvbS9lbi11cy93aW5kb3dzLXNlcnZlci9hZG1pbmlzdHJhdGlvbi9vcGVuc3NoL29wZW5zc2hfc2VydmVyX2NvbmZpZ3VyYXRpb24KIyB1c2UgcG93ZXJzaGVsbCBhcyBkZWZhdWx0IHNoZWxsIGZvciBzc2gKTmV3LUl0ZW1Qcm9wZXJ0eSAtUGF0aCAiSEtMTTpcU09GVFdBUkVcT3BlblNTSCIgLU5hbWUgRGVmYXVsdFNoZWxsIC1WYWx1ZSAiQzpcV2luZG93c1xTeXN0ZW0zMlxXaW5kb3dzUG93ZXJTaGVsbFx2MS4wXHBvd2Vyc2hlbGwuZXhlIiAtUHJvcGVydHlUeXBlIFN0cmluZyAtRm9yY2UKCgojIEFkZCBzc2ggYXV0aG9yaXplZF9rZXkgZm9yIGFkbWluaXN0cmF0b3IKIyBodHRwczovL2RvY3MubWljcm9zb2Z0LmNvbS9lbi11cy93aW5kb3dzLXNlcnZlci9hZG1pbmlzdHJhdGlvbi9vcGVuc3NoL29wZW5zc2hfa2V5bWFuYWdlbWVudAokTXlEaXIgPSAkTXlJbnZvY2F0aW9uLk15Q29tbWFuZC5QYXRoIHwgU3BsaXQtUGF0aCAtUGFyZW50CiRQdWJsaWNLZXkgPSBHZXQtQ29udGVudCAtUGF0aCAkTXlEaXJcaWRfcnNhLnB1YgokYXV0aHJpemVkX2tleXNfcGF0aCA9ICRlbnY6UHJvZ3JhbURhdGEgKyAiXHNzaFxhZG1pbmlzdHJhdG9yc19hdXRob3JpemVkX2tleXMiCkFkZC1Db250ZW50IC1QYXRoICRhdXRocml6ZWRfa2V5c19wYXRoIC1WYWx1ZSAkUHVibGljS2V5CmljYWNscy5leGUgJGF1dGhyaXplZF9rZXlzX3BhdGggL2luaGVyaXRhbmNlOnIgL2dyYW50ICJBZG1pbmlzdHJhdG9yczpGIiAvZ3JhbnQgIlNZU1RFTTpGIgoKCiMgaW5zdGFsbCBhcHBsaWNhdGlvbiB2aWEgZXhlIGZpbGUgaW5zdGFsbGVyIGZyb20gdXJsCmZ1bmN0aW9uIEluc3RhbGwtRXhlIHsKICAkZGx1cmwgPSAkYXJnc1swXQogICRpbnN0YWxsZXJQYXRoID0gSm9pbi1QYXRoICRlbnY6VEVNUCAoU3BsaXQtUGF0aCAkZGx1cmwgLUxlYWYpCiAgSW52b2tlLVdlYlJlcXVlc3QgLVVzZUJhc2ljUGFyc2luZyAkZGx1cmwgLU91dEZpbGUgJGluc3RhbGxlclBhdGgKICBTdGFydC1Qcm9jZXNzIC1GaWxlUGF0aCAkaW5zdGFsbGVyUGF0aCAtQXJncyAiL1MiIC1WZXJiIFJ1bkFzIC1XYWl0CiAgUmVtb3ZlLUl0ZW0gJGluc3RhbGxlclBhdGgKCn0KCiMgV2FpdCBmb3IgbmV0d29ya2luZyBiZWZvcmUgcnVubmluZyBhIHRhc2sgYXQgc3RhcnR1cApkbyB7CiAgJHBpbmcgPSB0ZXN0LWNvbm5lY3Rpb24gLWNvbXAga3ViZXZpcnQuaW8gLWNvdW50IDEgLVF1aWV0Cn0gdW50aWwgKCRwaW5nKQoKIyBJbnN0YWxsaW5nIHRoZSBMYXRlc3QgTm90ZXBhZCsrIHdpdGggUG93ZXJTaGVsbAokQmFzZVVyaSA9ICJodHRwczovL25vdGVwYWQtcGx1cy1wbHVzLm9yZyIKJEJhc2VQYWdlID0gSW52b2tlLVdlYlJlcXVlc3QgLVVyaSAkQmFzZVVyaSAtVXNlQmFzaWNQYXJzaW5nCiRDaGlsZFBhdGggPSAkQmFzZVBhZ2UuTGlua3MgfCBXaGVyZS1PYmplY3QgeyAkXy5vdXRlckhUTUwgLWxpa2UgJypDdXJyZW50IFZlcnNpb24qJyB9IHwgU2VsZWN0LU9iamVjdCAtRXhwYW5kUHJvcGVydHkgaHJlZgokRG93bmxvYWRQYWdlVXJpID0gJEJhc2VVcmkgKyAkQ2hpbGRQYXRoCiREb3dubG9hZFBhZ2UgPSBJbnZva2UtV2ViUmVxdWVzdCAtVXJpICREb3dubG9hZFBhZ2VVcmkgLVVzZUJhc2ljUGFyc2luZwokRG93bmxvYWRVcmwgPSAkRG93bmxvYWRQYWdlLkxpbmtzIHwgV2hlcmUtT2JqZWN0IHsgJF8ub3V0ZXJIVE1MIC1saWtlICcqbnBwLiouSW5zdGFsbGVyLng2NC5leGUiKicgfSB8IFNlbGVjdC1PYmplY3QgLUV4cGFuZFByb3BlcnR5IGhyZWYKSW5zdGFsbC1FeGUgJERvd25sb2FkVXJsCg==
  id_rsa.pub: c3NoLXJzYSBBQUFBQjNOemFDMXljMkVBQUFBREFRQUJBQUFCQVFDNnpkZ0ZpTHIxdUFLN1BkY2NoRGQrTHNlQTVmRU9jeENDdDdUTGxyN014Nmg4alVnK0crOEw5SkJOWnVEelRaU0YwZFI3cXd6ZEJCUWpvckFuWlRtWTNCaHNLY0ZyOEd0NEtNR3JTNnIzRE5tR3J1UDhHT1J2ZWdkV1p1WGdBU0tWcFhlSTduQ0lqUkp3QWFLMXgrZUdId0FXTzlaOG9oY2JvSGJMeWZmT29TWkRTSXVrMmtSSWM0NytFTlJqZzBUNngyVlJzcVgyN2c2ajREZlBLUVpHazB6dlhrWmFZdHIxZTJ0WmdxVEJXcVpVbG9NSks4bWlRcTZNa3RDS0FTNFZ0UGswazd0ZVFYNTdPR3dENkQ3dW80YitDbDhhWUFBd2huMGhjMEMyVVNmYnVWSGdxODhFU28yLytOd1Y0U1FjbDNzeENXMjF5R0lqQUd0NEh5N0oK
---
apiVersion: virtualization.deckhouse.io/v1alpha2
kind: ClusterVirtualImage
metadata:
  name: win-11-iso
spec:
  dataSource:
    type: HTTP
    http:
      url: "https://software.download.prss.microsoft.com/dbazure/Win11_23H2_EnglishInternational_x64v2.iso?t=373e4da1-33cb-437a-8953-d2d82ffebc24&P1=1709887519&P2=601&P3=2&P4=tqE6F8wcrhc8F%2fU8sBkhHEuZD15Nd38TCvTKxzamX8FXI4ckmOZDzoXEdsX%2fHGU0To1bKXQq7fZkGtDMZM8SmcP9vPhWOXJwAZxuZEUk66TXbrHFWbi4txvK5%2f5FNNbGVMB1oBkEt%2f7rIYSRBofUXNtfZOD0mdlNl59Rww1Oufm9D5KTXWEJwK8imxbFwechKHhJewjt1KFcT%2bhfqh0YrWMPEdgU%2fVJom%2f5G2V2iFWZzZrCyZxsMSOtBM9OJxbmI6qXHzv36Fd7s3RyRQdMKww9s0OKaUEYuKtNBTJ0FaGxGEHjkslZmiqpXg%2bhZj%2bSUEgnVDlpb907qLMs4UeO4MQ%3d%3d"
---
apiVersion: virtualization.deckhouse.io/v1alpha2
kind: ClusterVirtualImage
metadata:
  name: win-virtio-iso
spec:
  dataSource:
    type: HTTP
    http:
      url: "https://fedorapeople.org/groups/virt/virtio-win/direct-downloads/stable-virtio/virtio-win.iso"
---
apiVersion: virtualization.deckhouse.io/v1alpha2
kind: VirtualDisk
metadata:
  name: vm-vmd
  namespace: default
spec:
  persistentVolumeClaim:
    size: 50Gi
    storageClassName: linstor-test-data-r1
---
apiVersion: virtualization.deckhouse.io/v1alpha2
kind: VirtualMachine
metadata:
  name: vm-sysprep
  namespace: default
  labels:
    vm: vm-sysprep
spec:
  provisioning:
    type: SysprepRef
    sysprepRef:
      kind: Secret
      name: sysprep-config
  runPolicy: AlwaysOn
  osType: Windows
  bootloader: EFI
  cpu:
    cores: 6
    coreFraction: 50%
  memory:
    size: 8Gi
  enableParavirtualization: true
  blockDeviceRefs:
    - kind: ClusterVirtualImage
      name: win-11-iso
    - kind: ClusterVirtualImage
      name: win-virtio-iso
    - kind: VirtualDisk
      name: vm-vmd
