*                                                         @Isteb4k
/.github/                                                 @universal-itengineer @nevermarine

/crds/                                                    @fl64 @z9r5 @goganat
/docs/                                                    @fl64 @z9r5 @goganat
/openapi/                                                 @fl64 @z9r5 @goganat
/monitoring/                                              @fl64 @Isteb4k
/tests/                                                   @hardcoretime @danilrwx

/images/                                                  @universal-itengineer @nevermarine
/images/cdi-artifact/                                     @Isteb4k @yaroslavborbat @diafour
/images/virt-artifact/                                    @Isteb4k @yaroslavborbat @diafour
/images/dvcr-artifact/                                    @Isteb4k @yaroslavborbat @diafour
/images/vm-route-forge/                                   @yaroslavborbat @diafour
/images/kube-api-rewriter/                                @diafour @yaroslavborbat
/images/virtualization-artifact/                          @Isteb4k @yaroslavborbat
/images/virtualization-artifact/pkg/controller/vm/        @yaroslavborbat @Isteb4k
/images/virtualization-artifact/pkg/controller/vmip/      @LopatinDmitr @Isteb4k
/images/virtualization-artifact/pkg/controller/vmiplease/ @LopatinDmitr @Isteb4k

*werf*                                                    @universal-itengineer @nevermarine
