{{- /*
Configure flags for the qemu build. Included by images/qemu/werf.inc.yaml.

-Werror is off. This builder's gcc is newer than the one container-factory
builds with and reports warnings upstream's code does not expect: the first
is 'variable idx set but not used' in tests/qtest/libqtest.c. We build a
pinned release rather than develop qemu, and the diagnostics land in test
code that never ships, so failing the build on them buys nothing.

Every option is spelled out, including the ones qemu would otherwise leave
on auto, so the feature set does not follow whatever pm drags into the
builder. Values come from the configuration summary of the build that is
already green, so this changes nothing about what is produced.
*/ -}}
--python=/usr/bin/python3 \
--extra-cflags="-Wno-error=discarded-qualifiers" \
--extra-ldflags="-L/usr/lib -L/usr/lib64" \
--target-list="x86_64-softmmu" \
--with-pkgversion="-dvp" \
--with-coroutine=ucontext \
--tls-priority="@QEMU,SYSTEM" \
--block-drv-rw-whitelist="qcow2,raw,file,host_device,nbd,iscsi,rbd,blkdebug,luks,null-co,nvme,copy-on-read,throttle,compress,virtio-blk-vhost-vdpa,virtio-blk-vfio-pci,virtio-blk-vhost-user,io_uring,nvme-io_uring" \
--block-drv-ro-whitelist="vdi,vmdk,vhdx,vpc,https" \
--disable-af-xdp \
--disable-alsa \
--disable-auth-pam \
--disable-avx2 \
--disable-avx512bw \
--disable-block-drv-whitelist-in-tools \
--disable-bochs \
--disable-bpf \
--disable-brlapi \
--disable-bsd-user \
--disable-bzip2 \
--disable-canokey \
--disable-cfi \
--disable-cfi-debug \
--disable-cloop \
--disable-cocoa \
--disable-coreaudio \
--disable-crypto-afalg \
--disable-curses \
--disable-debug-mutex \
--disable-debug-tcg \
--disable-dmg \
--disable-docs \
--disable-dsound \
--disable-fuse \
--disable-fuse-lseek \
--disable-gcrypt \
--disable-gettext \
--disable-glusterfs \
--disable-gtk \
--disable-guest-agent-msi \
--disable-hvf \
--disable-jack \
--disable-l2tpv3 \
--disable-libcbor \
--disable-libdaxctl \
--disable-libdw \
--disable-libiscsi \
--disable-libkeyutils \
--disable-libnfs \
--disable-libpmem \
--disable-libssh \
--disable-libvduse \
--disable-linux-user \
--disable-lto \
--disable-lzfse \
--disable-membarrier \
--disable-module-upgrades \
--disable-multiprocess \
--disable-netmap \
--disable-nettle \
--disable-nvmm \
--disable-oss \
--disable-parallels \
--disable-pipewire \
--disable-plugins \
--disable-qatzip \
--disable-qcow1 \
--disable-qed \
--disable-qga-vss \
--disable-qom-cast-debug \
--disable-qpl \
--disable-replication \
--disable-rng-none \
--disable-rutabaga-gfx \
--disable-safe-stack \
--disable-sdl \
--disable-sdl-image \
--disable-slirp-smbd \
--disable-smartcard \
--disable-sndio \
--disable-sparse \
--disable-spice \
--disable-strip \
--disable-u2f \
--disable-uadk \
--disable-user \
--disable-vde \
--disable-vduse-blk-export \
--disable-vhost-crypto \
--disable-virglrenderer \
--disable-virtfs \
--disable-vmnet \
--disable-vnc-jpeg \
--disable-vte \
--disable-vvfat \
--disable-whpx \
--disable-xen \
--disable-xen-pci-passthrough \
--enable-attr \
--enable-blkio \
--enable-cap-ng \
--enable-capstone \
--enable-colo-proxy \
--enable-coroutine-pool \
--enable-curl \
--enable-dbus-display \
--enable-debug-info \
--enable-fdt=system \
--enable-gio \
--enable-gnutls \
--enable-guest-agent \
--enable-hv-balloon \
--enable-iconv \
--enable-keyring \
--enable-kvm \
--enable-libusb \
--enable-libudev \
--enable-linux-aio \
--enable-linux-io-uring \
--enable-lzo \
--enable-malloc-trim \
--enable-modules \
--enable-mpath \
--enable-numa \
--enable-opengl \
--enable-pa \
--enable-pie \
--enable-pixman \
--enable-rbd \
--enable-rdma \
--enable-seccomp \
--enable-selinux \
--enable-slirp \
--enable-snappy \
--enable-spice-protocol \
--enable-stack-protector \
--enable-system \
--enable-tcg \
--enable-tools \
--enable-tpm \
--enable-usb-redir \
--enable-vdi \
--enable-vhdx \
--enable-vhost-kernel \
--enable-vhost-net \
--enable-vhost-user \
--enable-vhost-user-blk-server \
--enable-vhost-vdpa \
--enable-vmdk \
--enable-vpc \
--enable-vnc \
--enable-png \
--enable-vnc-sasl \
--disable-werror \
--enable-xkbcommon \
--enable-zstd
