# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# vim
*.swp

# IDE
.project
.settings
.idea/
.vscode
venv/
.venv/

# macOS Finder files
*.DS_Store
._*

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

bin
tmp/
tmp/*
tmp
*.tmp
# Kubernetes
.kube
local.Dockerfile

# direnv
.envrc

# dotenv file
.env

# logs
log/
logs/
*.log

# ansible inventory
inventory/

# generated directories
retry/

# nodejs
node_modules/
package-lock.json

# values
values.yaml
