**/*.git
**/.svn
**/.hg
**/werf*.yaml
**/werf*.yml
**/templates
**/ISSUE_TEMPLATE
crds/embedded
images/cdi-artifact/__containerized-data-importer*
images/virt-artifact/__kubevirt*
.gitlab-ci.yml
tools/kubeconform
