**/*.git
**/.svn
**/.hg
**/werf*.yaml
**/werf*.yml
.werf/**
**/templates
**/ISSUE_TEMPLATE
CHANGELOG/*.yml
CHANGELOG/*.yaml
crds/embedded
images/cdi-artifact/__containerized-data-importer*
images/virt-artifact/__kubevirt*
.gitlab-ci.yml
tools/kubeconform
