# This file will install all dependencies needed for hooks developing.

# Release dependencies are in a separate file.
-r requirements-release.txt


# Add testing dependencies below:

# Kubernetes-validate
attrs==25.3.0
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
kubernetes-validate==1.29.1
importlib_resources==6.5.2
packaging==25.0
referencing==0.36.2
rpds-py==0.25.1
typing_extensions==4.13.2
