x-extend:
  schema: config-values.yaml
type: object
properties:
  internal:
    type: object
    default: {}
    properties:
      customCertificateData:
        type: object
        properties:
          tls.crt:
            type: string
          tls.key:
            type: string
          ca.crt:
            type: string
      dvcr:
        type: object
        default: {}
        properties:
          cert:
            type: object
            properties:
              ca:
                type: string
                default: ""
              crt:
                type: string
                default: ""
              key:
                type: string
                default: ""
          passwordRW:
            type: string
          htpasswd:
            type: string
          salt:
            type: string
          serviceIP:
            type: string
          garbageCollectionModeEnabled:
            type: string
            default: ""
      controller:
        type: object
        default: {}
        properties:
          cert:
            type: object
            default: {}
            properties:
              ca:
                type: string
                default: ""
              crt:
                type: string
                default: ""
              key:
                type: string
                default: ""
      apiserver:
        type: object
        default: {}
        properties:
          cert:
            type: object
            default: {}
            properties:
              ca:
                type: string
                default: ""
              crt:
                type: string
                default: ""
              key:
                type: string
                default: ""
          proxyCert:
            type: object
            default: {}
            properties:
              ca:
                type: string
                default: ""
              crt:
                type: string
                default: ""
              key:
                type: string
                default: ""
      audit:
        type: object
        default: {}
        properties:
          cert:
            type: object
            default: {}
            properties:
              ca:
                type: string
                default: ""
              crt:
                type: string
                default: ""
              key:
                type: string
                default: ""
      rootCA:
        type: object
        default: {}
        properties:
          ca:
            type: string
            default: ""
          crt:
            type: string
            default: ""
          key:
            type: string
            default: ""
      virtHandler:
        type: object
        default: {}
        properties:
          nodeCount:
            type: integer
      virtConfig:
        type: object
        default: {}
        properties:
          phase:
            type: string
          parallelMigrationsPerCluster:
            type: integer
      moduleConfig:
        type: object
        additionalProperties: true
        properties:
          dvcr:
            type: object
            default: {}
            properties:
              storage:
                type: object
                default: {}
                properties:
                  type:
                    type: string
                    default: ""
                  persistentVolumeClaim:
                    type: object
                    default: {}
                    properties:
                      storageClassName:
                        type: string
                        default: ""
                      size:
                        type: string
                        default: ""
                  objectStorage:
                    type: object
                    default: {}
                    properties:
                      type:
                        type: string
                        default: ""
                      s3:
                        type: object
                        default: {}
                        properties:
                          accessKey:
                            type: string
                            default: ""
                          secretKey:
                            type: string
                            default: ""
                          region:
                            type: string
                            default: ""
                          regionEndpoint:
                            type: string
                            default: ""
                          bucket:
                            type: string
                            default: ""
      moduleConfigValidation:
        type: object
        properties:
          error:
            type: string
      moduleState:
        type: object
        default: {}
        additionalProperties: true
