# Cluster configuration for DVP-over-DVP E2E testing
apiVersion: deckhouse.io/v1
kind: ClusterConfiguration
clusterType: Cloud
cloud:
  provider: DVP
  prefix: {{ .Values.clusterConfigurationPrefix | default "demo-cluster" }}
podSubnetCIDR: 10.112.0.0/16
serviceSubnetCIDR: 10.223.0.0/16
kubernetesVersion: "Automatic"
clusterDomain: "internal.cluster.local"
---
apiVersion: deckhouse.io/v1
kind: InitConfiguration
deckhouse:
  imagesRepo: dev-registry.deckhouse.io/sys/deckhouse-oss
  registryDockerCfg: {{ .Values.deckhouse.registryDockerCfg | quote }}
  devBranch: {{ .Values.deckhouse.tag }}
---
apiVersion: deckhouse.io/v1
kind: DVPClusterConfiguration
layout: Standard
sshPublicKey: {{ .Values.sshPublicKey }}
masterNodeGroup:
  replicas: {{ .Values.instances.masterNodes.count }}
  instanceClass:
    virtualMachine:
      bootloader: {{ .Values.image.bootloader }}
      cpu:
        cores: {{ .Values.instances.masterNodes.cores }}
        coreFraction: {{ .Values.instances.masterNodes.coreFraction }}
      memory:
        size: {{ .Values.instances.masterNodes.memory }}
      ipAddresses:
        - Auto
      virtualMachineClassName: "{{ .Values.namespace }}-cpu"
    rootDisk:
      size: 50Gi
      storageClass: {{ .Values.storageClass }}
      image:
        kind: VirtualImage
        name: image
    etcdDisk:
      size: 15Gi
      storageClass: {{ .Values.storageClass }}
provider:
  kubeconfigDataBase64: {{ .Values.kubeconfigDataBase64 }}
  namespace: {{ .Values.namespace }}
