apiVersion: deckhouse.io/v1alpha1
kind: NodeGroupConfiguration
metadata:
  name: virtualization-selinux-packages
  {{- include "helm_lib_module_labels" (list .) | nindent 2 }}
spec:
  bundles:
  - 'redos'
  - 'centos'
  weight: 30
  nodeGroups:
   - '*'
  content: |
    # Copyright 2024 Flant JSC
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #     http://www.apache.org/licenses/LICENSE-2.0
    #
    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.

    # Check if SELinux is enabled
    function is_selinux_enabled() {
        selinux_status=$(getenforce 2>/dev/null)
        if [[ "$selinux_status" == "Enforcing" || "$selinux_status" == "Permissive" ]]; then
            return 0
        else
            return 1
        fi
    }

    # Check if a package is installed
    function is_package_installed() {
        if rpm -q "$1" &>/dev/null; then
            return 0
        else
            return 1
        fi
    }

    # Install a package
    function install_package() {
        bb-dnf-install "$1"
    }
