{{- $priorityClassName := include "priorityClassName" . }}
{{- define "kubevirt_images" -}}
- name: VIRT_OPERATOR_IMAGE
  value: {{ include "helm_lib_module_image" (list . "virtOperator") }}
- name: VIRT_API_IMAGE
  value: {{ include "helm_lib_module_image" (list . "virtApi") }}
- name: VIRT_CONTROLLER_IMAGE
  value: {{ include "helm_lib_module_image" (list . "virtController") }}
- name: VIRT_HANDLER_IMAGE
  value: {{ include "helm_lib_module_image" (list . "virtHandler") }}
- name: VIRT_LAUNCHER_IMAGE
  value: {{ include "helm_lib_module_image" (list . "virtLauncher") }}
{{- end }}
{{- define "virt_operator_resources" }}
cpu: 10m
memory: 200Mi
{{- end }}
{{- if (.Values.global.enabledModules | has "vertical-pod-autoscaler-crd") }}
---
apiVersion: autoscaling.k8s.io/v1
kind: VerticalPodAutoscaler
metadata:
  name: virt-operator
  namespace: d8-{{ .Chart.Name }}
  {{- include "helm_lib_module_labels" (list . (dict "kubevirt.internal.virtualization.deckhouse.io" "virt-operator" "workload-resource-policy.deckhouse.io" "master")) | nindent 2 }}
spec:
  targetRef:
    apiVersion: "apps/v1"
    kind: Deployment
    name: virt-operator
  updatePolicy:
    updateMode: "Auto"
  resourcePolicy:
    containerPolicies:
    {{- include "kube_api_rewriter.vpa_container_policy" . | nindent 4 }}
    {{- include "kube_rbac_proxy.vpa_container_policy" . | nindent 4 }}
    - containerName: virt-operator
      minAllowed:
        {{- include "virt_operator_resources" . | nindent 8 }}
      maxAllowed:
        cpu: 20m
        memory: 400Mi
{{- end }}
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: virt-operator
  namespace: d8-{{ .Chart.Name }}
  {{- include "helm_lib_module_labels" (list . (dict "app" "virt-operator" )) | nindent 2 }}
spec:
  minAvailable: {{ include "helm_lib_is_ha_to_value" (list . 1 0) }}
  selector:
    matchLabels:
      app: virt-operator
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: virt-operator
  namespace: d8-{{ .Chart.Name }}
  {{- include "helm_lib_module_labels" (list . (dict "app.kubernetes.io/name" "virt-operator" "app.kubernetes.io/component" "dvp")) | nindent 2 }}
spec:
  {{- include "helm_lib_deployment_strategy_and_replicas_for_ha" . | nindent 2 }}
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: virt-operator
      kubevirt.internal.virtualization.deckhouse.io: virt-operator
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: virt-operator
      labels:
        app: virt-operator
        kubevirt.internal.virtualization.deckhouse.io: virt-operator
      name: virt-operator
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: kubevirt.internal.virtualization.deckhouse.io
                  operator: In
                  values:
                  - virt-operator
              topologyKey: kubernetes.io/hostname
            weight: 1
      containers:
      {{- $rewriterSettings := dict }}
      {{- $_ := set $rewriterSettings "WEBHOOK_ADDRESS" "https://127.0.0.1:8444" }}
      {{- $_ := set $rewriterSettings "WEBHOOK_CERT_FILE" "/etc/virt-operator/certificates/tls.crt" }}
      {{- $_ := set $rewriterSettings "WEBHOOK_KEY_FILE" "/etc/virt-operator/certificates/tls.key" }}
      {{- $_ := set $rewriterSettings "webhookCertsVolumeName" "kubevirt-operator-certs" }}
      {{- $_ := set $rewriterSettings "webhookCertsMountPath" "/etc/virt-operator/certificates" }}
      {{- include "kube_api_rewriter.sidecar_container" (tuple . $rewriterSettings) | nindent 6 }}
      {{- $kubeRbacProxySettings := dict }}
      {{- $_ := set $kubeRbacProxySettings "runAsUserNobody" true }}
      {{- $_ := set $kubeRbacProxySettings "ignorePaths" "/proxy/healthz,/proxy/readyz" }}
      {{- $_ := set $kubeRbacProxySettings "upstreams" (list
          (dict "upstream" "http://127.0.0.1:9090/metrics" "path" "/proxy/metrics" "name" "kube-api-rewriter")
          (dict "upstream" "http://127.0.0.1:8080/metrics" "path" "/metrics" "name" "virt-operator")
          (dict "upstream" "http://127.0.0.1:9090/healthz" "path" "/proxy/healthz" "name" "kube-api-rewriter")
          (dict "upstream" "http://127.0.0.1:9090/readyz" "path" "/proxy/readyz" "name" "kube-api-rewriter")
      ) }}
      {{- include "kube_rbac_proxy.sidecar_container" (tuple . $kubeRbacProxySettings) | nindent 6 }}
      - name: virt-operator
        {{- include "helm_lib_module_container_security_context_read_only_root_filesystem_capabilities_drop_all" . | nindent 8 }}
        args:
        - --port
        - "8443"
        - --metrics-listen
        - 127.0.0.1
        - --metrics-port
        - "8080"
        - -v
        - "2"
        command:
        - virt-operator
        env:
        {{- include "kube_api_rewriter.kubeconfig_env" . | nindent 8 }}
        {{- include "kubevirt_images" . | nindent 8 }}
        - name: KUBEVIRT_VERSION
          value: {{ include "kubevirt_images" . | sha256sum | trunc 7 | quote }}
        - name: WATCH_NAMESPACE
          value: d8-{{ .Chart.Name }}
        image: {{ include "helm_lib_module_image" (list . "virtOperator") }}
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8444
          name: webhooks
          protocol: TCP
        readinessProbe:
          httpGet:
            path: /healthz
            port: 8443
            scheme: HTTP
          initialDelaySeconds: 10
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8443
            scheme: HTTP
          initialDelaySeconds: 10
        resources:
          requests:
            {{- include "helm_lib_module_ephemeral_storage_only_logs" . | nindent 12 }}
            {{- if not ( .Values.global.enabledModules | has "vertical-pod-autoscaler-crd") }}
            {{- include "virt_operator_resources" . | nindent 12 }}
            {{- end }}
        volumeMounts:
        - mountPath: /etc/virt-operator/certificates
          name: kubevirt-operator-certs
          readOnly: true
        - mountPath: /profile-data
          name: profile-data
        {{- include "kube_api_rewriter.kubeconfig_volume_mount" . | nindent 8 }}
      {{- include "helm_lib_priority_class" (tuple . $priorityClassName) | nindent 6 }}
      {{- include "virt_helper_system_master_node_selector" (tuple . ) | nindent 6 }}
      {{- include "helm_lib_tolerations" (tuple . "any-node") | nindent 6 }}
      {{- include "helm_lib_module_pod_security_context_run_as_user_deckhouse" . | nindent 6 }}
      serviceAccountName: kubevirt-operator
      volumes:
      - name: kubevirt-operator-certs
        secret:
          optional: true
          secretName: kubevirt-operator-certs
      - emptyDir: {}
        name: profile-data
      {{- include "kube_api_rewriter.kubeconfig_volume" . | nindent 6 }}

