apiVersion: v1
kind: Service
metadata:
  name: dvp-over-dvp-443
  namespace: {{ .Values.namespace }}
spec:
  ports:
  - port: 443
    targetPort: 443
    protocol: TCP
    name: https
  selector:
    dvp.deckhouse.io/node-group: master
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: wildcard-https
  namespace: {{ .Values.namespace }}
  annotations:
    nginx.ingress.kubernetes.io/ssl-passthrough: "true"
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
spec:
  ingressClassName: nginx
  rules:
  {{- range .Values.ingressHosts }}
  - host: "{{ . }}.{{ $.Values.namespace }}.{{ $.Values.domain }}"
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: dvp-over-dvp-443
            port:
              number: 443
  {{- end }}
