{{- $priorityClassName := include "priorityClassName" . }}

{{- define "cdi_images" -}}
- name: CONTROLLER_IMAGE
  value: {{ include "helm_lib_module_image" (list . "cdiController") }}
- name: IMPORTER_IMAGE
  value: {{ include "helm_lib_module_image" (list . "cdiImporter") }}
- name: CLONER_IMAGE
  value: {{ include "helm_lib_module_image" (list . "cdiCloner") }}
- name: OVIRT_POPULATOR_IMAGE
  value: {{ include "helm_lib_module_image" (list . "cdiImporter") }}
- name: APISERVER_IMAGE
  value: {{ include "helm_lib_module_image" (list . "cdiApiserver") }}
{{- end }}

{{- define "cdi_operator_resources" }}
cpu: 15m
memory: 15Mi
{{- end }}

{{- if (.Values.global.enabledModules | has "vertical-pod-autoscaler-crd") }}
---
apiVersion: autoscaling.k8s.io/v1
kind: VerticalPodAutoscaler
metadata:
  name: cdi-operator
  namespace: d8-{{ .Chart.Name }}
  {{- include "helm_lib_module_labels" (list . (dict "app" "cdi-operator" )) | nindent 2 }}
spec:
  targetRef:
    apiVersion: "apps/v1"
    kind: Deployment
    name: cdi-operator
  updatePolicy:
    updateMode: "Auto"
  resourcePolicy:
    containerPolicies:
    {{- include "kube_api_rewriter.vpa_container_policy" . | nindent 4 }}
    {{- include "kube_rbac_proxy.vpa_container_policy" . | nindent 4 }}
    - containerName: cdi-operator
      minAllowed:
        {{- include "cdi_operator_resources" . | nindent 8 }}
      maxAllowed:
        cpu: 20m
        memory: 30Mi
{{- end }}
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: cdi-operator
  namespace: d8-{{ .Chart.Name }}
  {{- include "helm_lib_module_labels" (list . (dict "app" "cdi-operator" )) | nindent 2 }}
spec:
  minAvailable: {{ include "helm_lib_is_ha_to_value" (list . 1 0) }}
  selector:
    matchLabels:
      app: cdi-operator
---
apiVersion: apps/v1
kind: Deployment
metadata:
  {{- include "helm_lib_module_labels" (list . (dict "app.kubernetes.io/name" "cdi-operator" "app.kubernetes.io/component" "dvp")) | nindent 2 }}
  name: cdi-operator
  namespace: d8-{{ .Chart.Name }}
spec:
  {{- include "helm_lib_deployment_strategy_and_replicas_for_ha" . | nindent 2 }}
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: cdi-operator
  template:
    metadata:
      labels:
        app: cdi-operator
      annotations:
        kubectl.kubernetes.io/default-container: cdi-operator
    spec:
      {{- include "helm_lib_pod_anti_affinity_for_ha" (list . (dict "app" "cdi-operator")) | nindent 6 }}
      containers:
      {{- include "kube_api_rewriter.sidecar_container" . | nindent 6 }}
      {{- $kubeRbacProxySettings := dict }}
      {{- $_ := set $kubeRbacProxySettings "runAsUserNobody" true }}
      {{- $_ := set $kubeRbacProxySettings "ignorePaths" "/proxy/healthz,/proxy/readyz" }}
      {{- $_ := set $kubeRbacProxySettings "upstreams" (list
          (dict "upstream" "http://127.0.0.1:9090/metrics" "path" "/proxy/metrics" "name" "kube-api-rewriter")
          (dict "upstream" "http://127.0.0.1:9090/healthz" "path" "/proxy/healthz" "name" "kube-api-rewriter")
          (dict "upstream" "http://127.0.0.1:9090/readyz" "path" "/proxy/readyz" "name" "kube-api-rewriter")
      ) }}
      {{- include "kube_rbac_proxy.sidecar_container" (tuple . $kubeRbacProxySettings) | nindent 6 }}
      - name: cdi-operator
        {{- include "helm_lib_module_container_security_context_read_only_root_filesystem_capabilities_drop_all" . | nindent 8 }}
        env:
        {{- include "kube_api_rewriter.kubeconfig_env" . | nindent 8 }}
        {{- include "cdi_images" . | nindent 8 }}
        - name: DEPLOY_CLUSTER_RESOURCES
          value: "true"
        - name: OPERATOR_VERSION
          value: {{ include "cdi_images" . | sha256sum | trunc 7 | quote }}
        - name: VERBOSITY
          value: "1"
        - name: PULL_POLICY
          value: IfNotPresent
        - name: MONITORING_NAMESPACE
        args:
        - -metrics_address
        - :8080
        image: {{ include "helm_lib_module_image" (list . "cdiOperator") }}
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8080
          name: metrics
          protocol: TCP
        - containerPort: 8081
          name: health
          protocol: TCP
        livenessProbe:
          httpGet:
            path: /healthz
            port: health
            scheme: HTTP
          initialDelaySeconds: 10
        readinessProbe:
          httpGet:
            path: /readyz
            port: health
            scheme: HTTP
          initialDelaySeconds: 10
        resources:
          requests:
            {{- include "helm_lib_module_ephemeral_storage_only_logs" . | nindent 12 }}
            {{- if not ( .Values.global.enabledModules | has "vertical-pod-autoscaler-crd") }}
            {{- include "cdi_operator_resources" . | nindent 12 }}
            {{- end }}
        volumeMounts:
        {{- include "kube_api_rewriter.kubeconfig_volume_mount" . | nindent 8 }}
      {{- include "helm_lib_priority_class" (tuple . $priorityClassName) | nindent 6 }}
      {{- include "helm_lib_node_selector" (tuple . "system") | nindent 6 }}
      {{- include "helm_lib_tolerations" (tuple . "system") | nindent 6 }}
      {{- include "helm_lib_module_pod_security_context_run_as_user_deckhouse" . | nindent 6 }}
      serviceAccountName: cdi-operator
      volumes:
      {{- include "kube_api_rewriter.kubeconfig_volume" . | nindent 6 }}
