apiVersion: virtualization.deckhouse.io/v1alpha2
kind: VirtualDisk
metadata:
  name: debian-iso
spec:
  persistentVolumeClaim:
    storageClassName: "local-path"
    size: "80Mi"
  dataSource:
    type: "HTTP"
    http:
      url: "https://mirror.yandex.ru/debian/dists/bookworm/main/installer-amd64/current/images/netboot/mini.iso"
      checksum:
        sha256: c55ab1a1f0ad2ab2ad20e3f2cfe4ef9c3095fc405b02f0b74a320c128fd73515
